/* Custom stylesheet for Star Trek Eire Prototype */
/* Created by Bebito Samji */
/*version 3*/
/*Edited by Yoki 04/03/2018*/

/* style for body */
@font-face {
  font-family: Federation;
  /* src: url(fonts/raleway.tiff); */
}

@font-face {
  font-family: Krupper;
  /* src: url(fonts/raleway.tiff); */
}

html {
  font-size: 16px;
  line-height: 23px;
  background-color: #212121;
  height: 100%;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

body {
  background-color: #212121;
  height: 100%;
  background-size: cover;
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  /* font-family: Federation, Helvetica; */
}

h2 {
  font-size: 2em;
  color: white;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #007129;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #fff !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

/* Sets the backgrounf banner image */
.jumbotron{
  background-image: url("../assets/earth-space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 700px;
  width: 100%;
}

/* style for banner containing logo */
/* .banner {
  text-align:center;
  width: 100%;
  height: 600px; */
  /* padding-left: 100px;
  padding-right: 100px; */
  /* background-size: cover;
  margin-top: -10px;
  margin-bottom: 5px;
  position: relative;
  z-index: 0;
}

.banner2 {
  position: relative;
  height: 400px;
} */

#articles_main {
  width: 100%;
  height: 50%;
}

#events_main {
  width: 100%;
  height: 100%;
  height: auto;
  margin: 0 auto;
}

/* #banner_img {
  position: absolute;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: repeat-x;
} */

#logo {
  z-index:3;
}

.logoimg{
}

/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background: #6819e8; /* Old browsers */
	background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 ); /* IE6-9 */
}

/*Basic styling of rows*/
.firstrow,
.secondrow {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* First row of content */

.firstrow p {
  text-align: left;
}

.firstrow a {
  text-decoration: none;
  color: white;
}

.learn_more {
  text-decoration: underline;
  text-align: left;
}

/* Second row of content */
.secondrow p {
  text-align: left;
}

.index_title a{
  text-decoration: none;
  color: white;
}

.startrek_index{
  text-align: left;
}

.clubhouse{
  background-image: url("../assets/clubhouse_index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
}
/* style for rows in every containers */
/* .row {
  margin:0;
  text-align: center;
} */

/* column stylings */
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8 {
  color: white;
  background-color: #212121;
  /* background-color: rgba(33,33,33,0.7); */
  /* opacity: 0.7; */
  /* border-right: solid; */
  /* background-color: #FFF59D; */
}

.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8 {
  color: white;
  /* border-right: solid; */
  /* background-color: #FFF59D; */
}

.col-sm-12 {
  clear: both;
  color: white;
  /* border-right: solid; */
  /* background-color: #FFF59D; */
}

.col-xs-12 {
  clear: both;
  color: white;
  /* border-right: solid; */
  /* background-color: #FFF59D; */
}

.col-lg-4:hover, .col-lg-8:hover {
  /* cursor: pointer; */
  /* background-color: #FFEB3B; */
  transition: all 0.5s ease-in-out;
}

.col-md-3:hover, .col-md-6:hover {
  /* cursor: pointer; */
  /* background-color: #FF7043; */
  transition: all 0.2s ease-in-out;
}

/* container for contact details */
.contact {
  /* position: relative; */
  margin: 0 auto;
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

.text {
  position: relative;
  text-align: center;
  margin: 0px;
  color: black;
}

.text h1 {
  text-align: center;
  margin: 0px;
}

.text p {
  text-align: center;
  padding-top: 5px;
  /* padding-left: 10%; */
  font-size: 2em;
  font-weight: 200;
}

/* image holders */
.square p {
  /* padding-top: 60px;
  padding-left: 5px; */
  font-size: 1em;
}

.crew {
  position: relative;
  background-color: white;
  vertical-align: middle;
  margin: 0 auto;
}

#img_crew{
  max-width: 90%;
}

.square {
  vertical-align: middle;
  background: #D0D3D4;
  border-radius: 96%;
  height: 170px;
  width: 170px;
  margin: 0 auto;
  /* margin-top: 3px;
  margin-left: 150px;
  padding: 20px; */
  display: inline-block;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.square:hover {
  cursor: pointer;
  background-color: #9FA8DA;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}

.events_index {
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* Footer section */
.footer {
  clear: both;
  position: relative;
  /* bottom: 0; */
  color: white;
  background-color: #212121;
  padding: 0.7rem;
  margin-top: 20px;
}

.footer h5{
  padding-bottom: 10px;
}

.footer_header h5{
  text-align: left;
}

.footer_content{
  text-align: left;
  text-decoration: none;
  /* padding-left: 20px;
  padding-right: 20px; */
  vertical-align: top;
}
.footer_content a{
  color: white;
}

.footer_content li{
  font-size: 0.9em;
}

.img_art {
  margin: 0 auto;
  padding: 10px;
}

.image_article{
  max-width: 100%;
  float: right;
  padding: 10px;
}

.art {
  text-align: left;
  color: white;
  padding: 10px;
}

.art a {
  text-decoration: none;
  color: white;
}

.art a:hover {
  color: #615C5B;
}

.art h2 {
  text-align: left;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.image_events {
  max-width: 100%;
  float: right;
  padding: 10px;
}

.about_img {
  max-width: 90%;
  max-height: 100%;
}

.events {
  text-align: left;
  color: white;
  padding: 10px;
}

.events a {
  text-decoration: none;
  color: white;
}

.events a:hover {
  color: #615C5B;
}

.events h2 {
  text-align: left;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.about{
  text-align: left;
  padding-bottom: 30px;
}

#clubhouse_about{
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#ste_about{
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/*gallery styles*/
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

/*copyright footer*/

.mastfoot {
  color: white;
  /* color: rgba(255,255,255,.5); */
  background-color: #212121;
  font-size: 0.8em;
}

/* Padding for spacing */
.inner {
  text-align: right;
  padding-bottom: 5px;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

/* For the articles page */
/* for the holding container */
.article {
  width: 100%;
  margin: 10px 0px;
}
/* column styles if needed */
.col-lg-2, .col-lg-3, .col-md-3, .col-sm-4, .col-xs-12 {

}
/* image in the article */
#articleimage {
  padding: 5px;
  width: inherit;
  height: 260px;
}
/* text in the article */
.article p {
  text-align: justify;
}
/* heading for the article */
.article h5 {
  padding-top: 10px;
  font-weight: 400;
}
/* links for full article */
#clickme {
  font-style: italic;
  font-weight: bold;
}

#icons {
    text-align: left;
    padding-top: 10px;
    padding-bottom: -30px;
}

#icons .fab {
    color: white;
    margin: 5px 5px;
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

#icons .twitter:hover {
    color:#6cadde;
    bottom: 5px;
}

#icons .facebook:hover {
    color:#3b5998;
    bottom: 5px;
}

#icons .youtube:hover {
    color: rgba(255, 0, 0, 0.7);
    bottom: 5px;
}

#section_title {
  position: absolute;
  color: white;
  font-size: 3em;
  font-weight: bold;
  z-index: 1;
}

/* For the articles page */
/* for the holding container */
.article {
  width: 100%;
  margin: 10px 0px;
}
/* column styles if needed */
.col-lg-2, .col-lg-3, .col-md-3, .col-sm-4, .col-xs-12 {

}
/* image in the article */
#articleimage {
  padding: 5px;
  width: inherit;
  height: 260px;
}
/* text in the article */
.article p {
  text-align: justify;
}
/* heading for the article */
.article h5 {
  padding-top: 10px;
  font-weight: 400;
}
/* links for full article */
#clickme {
  font-style: italic;
  font-weight: bold;
}

/* modal */

.modal-header h5 {
  color: black;
}

.modal-body .italic {
  color: black;
  font-style: italic;
}

.modal-body h6 {
  color: black;
}

.modal-body p {
  color: black;
}

.modal-body .bold {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .jumbotron{
    height: 200px;
  }

  body {
    font-size: 12px;
  }

  #logo {
    max-height: 50px;
  }

  #circle {
    position: absolute;
    display: inline-block;
    /* left: 50%;
    right: 50%; */
    /* margin-top: -10px; */
    font-size: 2em;
    font-weight: 150;
    /* padding: 50px; */
    border-radius: 95%;
    height: 150px;
    width: 150px;
    background-color: #FAFAFA;
  }

  .mastfoot {
    bottom: 0;
    font-size: 0.8em;
  }

  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.fot_col1 {
  text-align: left;
}

@media screen and (max-width: 768px) {
  font-size: 14px;

  #logo {
  }

  #circle {
    position: absolute;
    display: inline-block;
    /* left: 50%;
    right: 50%; */
    /* margin-top: -10px; */
    font-size: 2em;
    font-weight: 200;
    /* padding: 50px; */
    border-radius: 95%;
    height: 200px;
    width: 200px;
    background-color: #FAFAFA;
  }

  .square {
    background: #D0D3D4;
    border-radius: 96%;
    height: 100px;
    width: 100px;
    margin-top: 3px;
    margin-left: 5px;
    padding-bottom: 5px;
    display: block;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
  }

  .mastfoot {
    clear: both;
    bottom: 0;
    font-size: 0.8em;
  }

  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  #logo {
  }

  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #007129;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
}
